<app-header></app-header>

<div class="container w-100 rounded-start-5 bg-black my-3" >
    <div class="row">
        <div class="col-lg-6 p-5 d-flex justify-content-center" >
            <img id="aboutImg" src="https://images.immediate.co.uk/production/volatile/sites/30/2024/09/fruitveg440-6c0e1fd.jpg?quality=90&resize=440,400"
                alt="" class="" style="border-radius: 50%;height: 300px;">
        </div>
        <div class="col-lg-6 p-5 d-flex justify-content-center align-items-center flex-column bg-white">
            <h1 class="text-dark ">Welcome To CookPedia</h1>
            <h5 class="text-dark" style="text-align: center;">Discover 100+ recipes in your hand with the best recipe. Help
                you to find the easiest way to cook</h5>
        </div>
    </div>

    <div class="row bg-white">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 py-4 my-4">
            <h1 class="text-black">About Us</h1>
            <h5 class="text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam error laborum voluptate ipsum non quidem cum enim minima obcaecati fugit, quo perspiciatis corrupti sequi earum unde laboriosam magnam pariatur aperiam?</h5>
            <ul class="my-3">
                <li class="text-black lead">Lorem ipsum dolor sit amet consectetur</li>
                <li class="text-black lead"> adipisicing elit. Tempora architecto repellendus quibusdam consectetur illo.</li>
                <li class="text-black lead"> Asperiores dolor eveniet dolore ex sed quasi voluptatibus et amet ad, maxime distinctio</li>
                <li class="text-black lead">molestiae nesciunt odit.</li>
            </ul>
            <button class="btn btn-success rounded-5">Know More About Us</button>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <img src="assets/chef.png"
                alt="" style="border-radius: 10%;height: 350px;">
        </div>
    </div>
</div>

<app-footer class=""></app-footer>